apiVersion: v1
kind: Secret
metadata:
  name: dating-app-secrets
  namespace: dating-app
type: Opaque
stringData:
  JWT_SECRET_KEY: t3Zj7EnlO1WSyDbfb5fR3Xbx5y2zzU__OgQcqdarf0SavJo1IvIl6byMAKT_kSaU
  JWT_ALGORITHM: HS256
  KAKAO_MAP_APP_KEY: 983a32c198c315207c271fec41037869
